.logo-container{
    z-index: 1;
    width: 50%;
    height: 280px;
    right: 0;
    position: relative;
    top:20%;
    //transform: translateY(-50%); 
    flex:50%;
    //border: 1px solid cadetblue;
    overflow: hidden;
   
    

   
    
    

    .solid-logo{
        position: relative;
        width:400px;
        height: 100%;
        opacity: 0;
        animation: 3s 3s bounceIn forwards;
        //transform: rotateZ(15deg);
        z-index: 1;
        //border: 1px solid lawngreen;
    }


}