
.home-page{
    overflow: hidden;
    
    .text-zone{
        position: relative;
        margin-left: 5%;
        margin-top: 8%;
        margin-right: 5%;
        width: 40%;
        min-width: 20%;
        height: 65%;
        flex:50%;
       
    }

    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: Cooper black;
        font-weight: 400;

        &::before {
            content: '<h1>';
            font-family: Embassy BT;
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.2;
        }
        &::after{
            content: '</h1>';
            font-family: Embassy BT;
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            animation: fadeIn 1s 1.6s backwards; 
            opacity: 0.2;
        }
        img {
            width: 32px;
        }
    }
    h2{
        color:#8d8d8d;
        margin-top:20px;
        font-weight: 400;
        font-family:Arial Rounded MT Bold;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.9s backwards;
    }

    .flat-button{
        color:#ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: Candara Light;
        text-decoration: none;
        padding:10px 10px;
        border: 1px solid #ffd700;
        margin-top:25px;
        float: left;
        animation:  fadeIn 1s 1.8s backwards;
        white-space: nowrap;
    

        &:hover{
            background-color: #ffd700;
            color:#333;
        }
    }
}